body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 4 em;
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
}

#top_background_container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 250px;
    background-color: #E9ECEF;
    font-size:27px;
}

h1{
    font-weight:300;
}

#sub-heading{
    margin-top: 0em;
    font-size: 0.8em;
    font-weight: 250;
}

h2{
    display: inline;
    width: 100%;
    justify-content: right;
    text-indent: 30%;
    
}


#user_inputs{
    width:40%;
}


#destinationName,#Location,#Photo,label{
    height: 30px;
    width: 20%;
    margin-left: 50%;
    font-size: 16px;
    margin-top: 0.5em;
    display: flex;
    flex-wrap: wrap;
}

#Description{
    margin-left: 50%;
    font-size: 16px;
    margin-top: 0.5em;
}

input[type=submit]{
    background-color:#0781e4;
    color: white;
    height: 40px;
    width: 20%;
    border: none;
    font-size: 1em;
    margin-left: 50%;
    display: flex;
    flex-wrap: wrap;
}

#form_displayResults{
    width: 100%;
    display:flex;
    flex-wrap: wrap;
}
#form_area{
    width:50%;
}
#displayResults{
    display:inline-flex;
    flex-wrap: wrap;
    justify-content: center;
   
}

#displayFormData{
    text-align: center;
}

 
